/*main---------------------------*/
body{
    
}
.container{width:1500px;
	margin:0 auto;
}

iframe{width: 100%;margin-top: 110px;height: 75%}
/*header-------------------------*/

.header{
	background-image:url(../images/images9.jpeg);
    overflow: auto;
	background-attachment:fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
}
.dark{
    background-color: rgba(16, 15, 11, .72);
	height:100%;
    width: 100%;
    overflow: auto;
}
ul{
	list-style-type:none;
	overflow:auto;
    float: right;
    width: 100%;
	height:auto;
	background-color:#FFF;
	position:fixed;
    z-index: 9999;
	margin-top:-10px;
    box-shadow: 0 4px 50px 0 #444
}
ul li{
	float:left;
	text-transform:uppercase;
	font-size:20px;
	padding:50px 10px 10px 20px;
	color:#2F92FA;
    text-decoration: none
}

ul li a{text-decoration: none;color: #4e82f5;font-family: sans-serif, tahoma, arial;font-weight: 500}

ul img{float:left}
/*----------------------------------------------------------------------------------------*/
.team{
    overflow: hidden;
    padding:150px 0;
    background: linear-gradient(to top, #2b2a30 20%, rgba(0,0,0,0) 70%);
    background-color: transparent;
}
.team img,
.team .about-team{float: left}

.team img{width: 40%}

.team .about-team{width:55%}

.team .about-team h2{color:#3696F6;font-family: cursive}

.team .about-team hr{border:4px solid #3696F6;width: 30px;margin-left:20px;margin-top: -10px}

.team .about-team p{
    color:#034080;
    text-transform: capitalize;
}
/*----------------------------------------------------------------------------------------*/
.testimonials{background-attachment: fixed;background-size: cover;background-image: url(../images/ph7.jpeg);height: 500px}

.testimonials h2{color: #3696F6;text-transform: uppercase;text-align: center;letter-spacing: 20px;margin:100px 0 0;font-family: cursive}

.testimonials hr{border:4px solid #3696F6;width: 30px;margin-left:40%}

.testimonials p{width:70%;margin:40px auto;color: #EEE;text-align: center;font-size: 22px}

/*----------------------------------------------------------------------------------------*/
.portfolio{padding: 70px 0;overflow: hidden}

.portfolio h2{color: #3696F6;text-transform: uppercase;text-align: center;letter-spacing: 20px;font-family: cursive}

.portfolio hr{border:4px solid #3696F6;width: 30px;margin-left:47%;margin-top: -10px}

.portfolio .scale{width:28%;height: 400px;margin-right: 1%;position: relative;z-index: 10; margin-left: 2%;margin-bottom: 3%;margin-top: 1%;overflow: auto;float: left}

.portfolio img{width: 100%;height: 100%; transition: .5s;opacity: .8}

.portfolio img:hover{transform: scale(1.2);opacity: 1}
/*----------------------------------------------------------------------------------------*/
.contact{background-image: url(../images/images6.jpeg);background-attachment: fixed;background-size: cover;height: 700px;overflow: hidden}

.contact input{
    background: none;
    color:#3696F6;
    width: 50%;
    padding:0 10px 0 20px;
    height: 40px;
    border:none;
    border-bottom: 3px solid #3696F6;
    display: block;
    margin-top: 70px;
    outline: none
}

.contact input:first-child{margin-top: 150px}

.contact button{border: 2px solid #3696F6; transition: 1s;height:50px;width:130px;margin-top: 6%;color:#3696F6;background:none;transition: 1.1s}

.contact button:hover{background:#3696F6;color:#FFF;box-shadow: 2px 2px 20px #111}

/*-------------------------------------------------------------------------------*/

.footer{background-color: #111;overflow: auto}

.footer .fa-facebook-square:hover{color:#365899}
.footer .fa-twitter-square:hover{color: #1da1f2}
.footer .fa-instagram:hover{color: #e3425b}
.footer .fa-linkedin-square:hover{color:#03699e}
.footer .fa{transition: 1s}

.footer button{float: left;width: 10%;display: inline-block;height: 40px;border: none}
