body{
    background-color: #e0dcdd
}

a{text-decoration: none;color: transparent;text-shadow: 2px 2px 10px #2c3c4c;transition:.5s;}
li:hover a{color: #FFF}

.container{width: 1100;margin: 0 auto}

.back{
    background-image: url(../images/images8.jpeg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1000px
}
.mac{
    position: absolute;
    z-index: 1;
    background: #06273b;
    height: 400px;
    width: 100%;
    margin-top:1500px
}
/*------------------------------------------------------------------------*/
.box{
    height: auto;
    width: 90%;
    margin: 30px auto;
    box-shadow: 2px 2px 20px #000, 2px 2px 20px #000;
    position: relative;
    z-index: 100
}

/*-------------------------------------------------------------------------*/
.navbar{overflow: auto;position: relative;z-index: 98}

.navbar ul.ref{
    list-style: none;
    color: #FFF;
    font-size: 20px;
    text-transform: capitalize;
    float: left;
    margin:0 0 0 10%;
    width: 50%
}

.navbar ul.ref li, .logo{float: left;padding: 50px 15px 15px;font-family: sans-serif}

.navbar .logo{background-image: url(../images/logo-red.png);background-size: cover;width: 80px;height: 70px;margin: 0 10px 0 0}

.navbar ul.ref li:hover{
    background-color: #fa5158;
    background: linear-gradient(to bottom, #FF4A51 25%, #F03D44 70%);
}

.navbar ul.social:hover{border-color: #fa5158}

.navbar ul.social{float: right;margin: 20px 10% 0 3.8%;border: 3px solid #222;padding: 20px;width: 20%;transition: .7s}

.navbar .fa{margin: 0 15px 0 15px;transition: .7s;}

.navbar .fa:hover{color: #fa5158}
/*-------------------------------------------------------------------------*/
.about{
    background: linear-gradient(to top, #2c3c4c 20%, rgba(0,0,0,0) 80%);
    padding: 6% 0 25% 3%;
    overflow: auto;
    height: auto;
    position: inherit;
    z-index: 9999;
    position: relative;
    z-index: 99

}

.about div{float: left;width: 700px;text-align: center}

.about div h1{color: #EEE;font-family: sans-serif;text-transform:uppercase;font-size: 1.5cm;text-align: center}

.about div p{color: #CCC;font-family: sans-serif;text-transform:uppercase;text-align: center;line-height: 30px;font-size: 20px}

.about div button, .team button, .pictures .choose button, .contact button{color: #DDD;
    font-family: sans-serif;
    text-transform:uppercase;
    background-color: #fa5158;
    padding: 15px 22px;
    border: 2px solid #fa5158;
    transition: .9s;
    outline: none;
    margin-top: 25px
}
.about div button:hover{color: #fa5158;background-color: transparent;box-shadow: 2px 2px 20px #000}
 .team button:hover{color: #fa5158;background-color: transparent}
/*-------------------------------------------------------------------------*/
.team{background-color: #2c3c4c;padding: 5% 1% 15% 2%;overflow: auto;position: relative;z-index: 200}

.team .team-quote{width: 40%;float: left;padding:0 2% 0 5%;text-align: right;overflow: auto}

.team-quote h2{font-family: sans-serif;color: #BBB;text-transform: uppercase;font-weight: 100}

.team-quote .article{width: 450px;float: right}

.team-quote p{font-family: sans-serif;color: #DDD;text-transform: capitalize;font-weight: 100}

.team .team-intro{width: 45%;float: left;padding-left: 3%;overflow: auto}

.team-intro h2{font-family: sans-serif;color: #BBB;text-transform: uppercase;font-weight: 100;margin-bottom: 30px}

.team-intro div{display: block;overflow: auto}

.team-intro .talking{width: 450px}

.team-intro h3, .team-intro span, .team-intro p{font-family: sans-serif;color: #DDD;text-transform: uppercase;font-weight: 100}

.team-intro span{margin-top: 0}

.team-intro img{border-radius: 50%;width: 80px;height: 80px;float: left;margin: 0 20px 0 0}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
.pictures{padding: 5% 0 15% 0 ;background-color: #e0dcdd;overflow: auto;position: relative;z-index: 100}

.pictures .choose h2{text-align:center;font-family: sans-serif;letter-spacing: 10px;color: #333;text-transform: uppercase;margin-top: 80px;font-size: 40px}

.pictures .choose div{width: auto;padding-left: 17%}

.pictures .pic div{overflow: hidden;width: 30%;float:left;margin: 5px .3% 5px 1%;height: 300px}

.pic img{width:100%;transition:1s;opacity: .65;height: 100%}

.pic img:hover{opacity: 1;transform: scale(1.2)}

/*----------------------------------------------------------------------------------------------------------*/
.cont{background-image: url(../images/om3.jpeg);background-attachment: fixed;background-size: cover}
.contact{padding: 600px 10% 300px 10%;overflow: auto;margin-top: -300px}

.contact input{height: 50px;float: left;width: 43%;padding: 0 10px;display: block;outline: none;border: none;
    background: rgba(82, 78, 78, .5)}
.contact input.os{margin-top: -50px}

.contact textarea{height: 120px;float:left;width:45%;margin-left: 50px;outline: none;border: none;
    background: rgba(82, 78, 78, .5);padding: 10px 5px}

.contact button{margin:  70px 0 28px 32.7%;width: 150px;border-radius: 2px}
.contact button:hover{color: #fa5158;background-color: transparent}

.footer{background:transparent;text-align: center}