/*--------------------------------------------------Word----------------------------------------*/
h1{
    font-family: cursive;
    font-style: oblique;
    text-transform: uppercase;
    font-size: 6rem;
    color: #f1c550;
    text-align: center;
    position: relative;
    z-index: 1
}

.push h1::before{
    content: "";
    position: absolute;
    left: 25%;
    top: 73%;
    z-index: 2;
    width: 0%;
    height: 10%;
    background: #1abc9c;
    border-radius: 16px;
    transition: all .5s
}

.push h1:hover:before{width: 50%}

/*---------------------------------Hover------------------------------------------*/
.omg{width: 700px;padding: 50px;margin: 0 30% 0}

.omg h1{font-size: 50px;
    margin: 50px; 
    color: #EEE;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Josefin Sans',cursive;
    font-style: oblique
    
}

.omg h1::before{
    content: "";
    display: block;
    background: linear-gradient(to right, #FF5E3A,#FFFF9D);
    position: relative;
    right: 20%;
    width: 0%;
    height:0.07em;
    transition: all .5s;
    transform: translateY(-0.15em);
    border-radius: 0 50px 50px 0
}

.omg h1::after{
    content: "";
    display: block;
    background: linear-gradient(to right, #FFFF9D,#FF5E3A);
    position: relative;
    left: 120%;
    width: 0%;
    height:0.06em;
    transition: all .5s;
    border-radius: 20px 0 0 20px
}

.omg h1:hover:after{width: 100%;left: 0}
.omg h1:hover:before{width: 100%;right: 0}

/*-------------------------Buttons------------------------------------------------*/

.os .light, .os .up{
  padding: 20px 30px;
  margin: 10% 0 0 20%;
  background: transparent;
  color: #FFF;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 2rem;
  border: 3px solid #FFF;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 1
}

.os .light::before{
    content: "";
    background: #1abc9c;
    width: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    background: linear-gradient(45deg, transparent 50%, #78a1bb 50%);
    transition: all .5s;
    z-index: -1
}

.os .light:hover:before{
    position: absolute;
    top: 0;right: 0;
}

.os .up::before{
    content: "";
    background: #1abc9c;
    width: 100%;
    position: absolute;
    left:0;
    bottom: -100%;
    height: 100%;
    background: #78a1bb;
    transition: all .5s;
    z-index: -1
}

.os .up:hover:before{
    position: absolute;
    bottom: 0;left: 0
}